---
repositoryUrl: https://github.com/estahn/phpunit-json-assertions
verifyConditions: ['@semantic-release/github']
prepare: []
publish: ['@semantic-release/github']
success: ['@semantic-release/github']
fail: ['@semantic-release/github']
